@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,200;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,700&family=Roboto:ital,wght@0,700;1,100;1,700&family=Silkscreen:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root{
    --gray:gray;
    --light-gray:rgb(170, 168, 168);
    --drak-gray:rgb(78, 77, 77);
    ---text:rgb(29, 29, 29);
    --header-bg:rgb(192, 188, 188);
    --row-bg:rgb(224, 224, 224);
    --shadow: 2px 2px 5px 2px rgb(156, 155, 155);
    --row-border: 4px solid rgb(151, 149, 149);
    --col-border:white;
}

 #header{
    background-color: var(--header-bg);
    padding-top: 20px;
    padding-bottom: 25px;
 }
 #header .head ul{
    list-style: none;
 }
 #header .head ul li{  
    float: right;
    margin-left: 10px;
    font-size: 20px;
    margin-top: -32px;
    padding: 10px;
    border-radius: 25px;
    padding-top: 5px;
    font-weight: 600;

 }
 #header .head ul li:hover{
    box-shadow: 2px 2px 5px 2px rgb(156, 155, 155);
    color: rgb(54, 53, 53);
    border: 2px solid rgb(156, 155, 155); 
    transition: all 0.2s ease;
 }
 #header .head ul a{
    text-decoration: none;
    color: var(---text);
 }

 #first{
    background-color: var(--row-bg);
    align-items: center;
   
 }

 #first h1{
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    text-decoration: underline rgb(95, 93, 93);
 }
 #first h1 span{
    color:red;
    font-weight: 700;
 }
 #computer {
    border: 4px solid rgb(151, 149, 149);
    border-radius: 10px;
    margin-bottom: 10px;
 }
#computer h2{
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

#comp{
    border: 4px solid white;
    border-radius: 8px;
}




#img{
    border: var(--row-border);
    border-radius: 10px;
    
    
}
#image{
    border: 4px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
}

#image img{
    object-fit: cover;
    width: 920px;
    height: 500px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#info{
   text-align: center; 
   padding-left: 20px;
   padding-bottom: 20px;
   border: 4px solid white;
   padding-top: 10px;
   border-radius: 10px;
   margin-bottom: 10px;
}
#info p{
    font-size: 22px;
    padding: 20px;
    padding-bottom: 1px;
}


/* Second layout */

#second{
   background-color: var(--row-bg);
   align-items: center;
   text-align: center;
  
}
#second h1{
   font-size: 35px;
   text-decoration: underline rgb(49, 49, 49);
   padding: 20px;
}
#second h1 span{
   color: red;
   font-weight: 700;
}
#a{
   border: var(--row-border);
   border-radius: 10px;
}
#aa{
   border: 4px solid white;
   border-radius: 10px;
   padding: 20px;
}
#a h1{
   text-decoration: none;
}
#inner-row .col-12{
   border: 4px solid white;
   padding: 10px;
}

#inner-col .col-4{
   border: 4px solid white;
   padding: 10px;
}


#a .col-sm-3{
   border: 4px solid white;
   text-align: center;
   align-items: center;
   justify-content: center;
   padding-top: 90px;
   padding-bottom: 40px;
}

/* 3rd Lay out */

#third{
   background-color: var(--row-bg);
   text-align: center;
   padding-bottom: 20px;
}

#third .h{
   text-decoration: underline;
   font-size: 35px;
   padding: 20px;
}
#third .h span{
   color: red;
   font-weight: 700;
}

#c{
   border: var(--row-border);
   border-radius: 10px;
}
#c .col-sm-12{
   padding: 20px;
   border: 4px solid white;
   border-radius: 5px;
}
 #c img{
  
   padding: 10px;
} 
#row1 .col-4{
   border: 4px solid white;
}

#c .col-sm-3{
   padding: 10px;
   border: 4px solid white;
}
#c .col-sm-3 h1{
   font-size: 30px;
   font-weight: 700;
   color: rgb(48, 47, 47);
}
#c .col-sm-3 p{
   font-size: 25px;
   padding: 10px;
   text-align: center;
   padding-top: 20px;
}
#c .col-sm-3 .btn{
   border-radius: 30px;
   font-size: 20px;
   padding: 10px;
}

#c .col-sm-3 .btn:hover{
   background-color: transparent;
   color: rgb(37, 37, 37);
   font-weight: 600;
   border: 2px solid rgb(77, 77, 248) ;
   border-radius: 30px;
   transition: all 0.2s ease;
}